<div class="g-mb-80">
  <h4 class=" g-color-primary g-font-weight-600">所有内容，永久免费！</h4>
  <h4 class=" g-color-black g-font-weight-600 mb-4">扫赞赏码，支持暮雨！</h4>

  <div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v3 g-pa-10 g-mb-50">
    <img class="img-fluid w-100 g-mb-5" src="/img/juanzeng.jpg" alt="打赏二维码">
  </div>

  <p class="g-color-gray-dark-v3 g-font-size-15">
如果暮雨的作品，像朋友一样，静静陪伴你成长。欢迎透过打赏、点赞分享，支持我继续创作。
  </p>
  <p class="g-color-gray-dark-v3 g-font-size-15 g-mb-40">
你的陪伴与支持，也同样温暖着我，激励我继续耕耘，把丰盛的能量延伸至更多生命。愿我们彼此点亮，彼此丰盈，共同成长。
  </p>

  <a href="#!"
     class="btn u-btn-outline-pink g-font-weight-600 text-uppercase g-brd-2 g-rounded-50 g-mb-15"
     style="font-size: 18px; padding: 15px 30px;">
    海外读者支持通道 <i class="fa fa-check-circle g-ml-3"></i>
  </a>

<a href="/Donor-Acknowledgment.html"
   class="btn g-color-black g-color-white--hover u-btn-outline-black g-font-weight-600 text-uppercase g-brd-2 g-rounded-50 g-mb-15"
   style="font-size: 18px; padding: 15px 30px;">
  捐赠者感谢名单
</a>


</div>
