<div class="u-shadow-v3 g-bg-white g-brd-around g-brd-gray-light-v4 g-pa-40 g-mb-80">
  <h3 class="h4 g-color-black g-font-weight-600 mb-4">我们珍视每一种声音存在！</h3>
  <p class="g-color-gray-dark-v4 g-font-size-15">解答疑问、指正错误、获取电子书…</p>
  <a href="mailto:librarys.life@gmail.com">librarys.life@gmail.com</a>
</div>
