<footer class="g-pt-100">
  <div class="container-fluid g-py-15 g-brd-top g-brd-gray-light-v4">
    <div class="text-center">
      <a href="/" class="navbar-brand">
        <img src="/librarys-life/site-img/logo.svg" alt="librarys.life">
      </a>
      <p class="g-font-size-12 g-color-gray-dark-v3 g-mt-10">
        © librarys.life | 生命之书 版权所有
      </p>
    </div>
  </div>
</footer>
