<head>
  <title>{{ title }} 生命之书 | librarys.life</title>
  <meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">

<meta name="robots" content="all">
<meta http-equiv="Content-Language" content="zh-CN">
<meta name="author" content="librarys.life, edit@librarys.life">
<meta name="copyright" content="Copyright librarys.life all rights reserved">
<meta name="version" content="{{ version }}">


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">


  <!-- 所有 CSS 引用 -->
  <!-- CSS Global Compulsory -->
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/icon-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/icon-hs/style.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/icon-line-pro/style.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/animate.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/fancybox/jquery.fancybox.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/hamburgers/hamburgers.min.css">

<link rel="stylesheet" href="../../librarys-life/css261/html/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/vendor/slick-carousel/slick/slick.css">

<!-- CSS Unify -->
<link rel="stylesheet" href="/librarys-life/css261/html/assets/css/unify-core.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/css/unify-components.css">
<link rel="stylesheet" href="/librarys-life/css261/html/assets/css/unify-globals.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="/librarys-life/css261/html/assets/css/custom.css">


<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6833301da7cb4a0019841a51&product=inline-share-buttons' async='async'></script>

<!-- Favicon -->
<link rel="shortcut icon" href="/librarys-life/site-img/favicon.ico">


</head>