<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance u-shadow-v19 g-px-100--lg g-bg-white" data-header-fix-moment="300">
<div class="u-header__section u-header__section--light g-bg-white g-transition-0_3" data-header-fix-moment-exclude="g-py-0" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
<nav class="js-mega-menu navbar navbar-expand-lg hs-menu-initialized hs-menu-horizontal">
<div class="container-fluid g-px-100--lg">

<!-- Responsive Toggle Button -->
<button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
<span class="hamburger hamburger--slider">
<span class="hamburger-box">
<span class="hamburger-inner"></span>
</span>
</span>
</button>
<!-- End Responsive Toggle Button -->

<!-- Logo -->
<a href="http://librarys.life" class="navbar-brand d-flex">
<img src="/site-img/logo.svg" alt="librarys.life">
</a>
<!-- End Logo -->


<!-- Navigation -->
<div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-40--lg g-pl-100--lg" id="navBar">
<ul class="navbar-nav g-pos-rel g-font-size-15 g-font-weight-500 ml-auto text-capitalize">

<li class="nav-item g-mr-50">
  <a href="https://librarys.life/articles-list/0/" class="nav-link g-py-7 g-px-0">近期更新</a>
</li>
<li class="nav-item g-mr-50">
  <a href="https://librarys.life/articles-list/0/" class="nav-link g-py-7 g-px-0">所有文章</a>
</li>
<li class="nav-item g-mr-50">
  <a href="https://toonwoo.com/free-ebooks/index.html" class="nav-link g-py-7 g-px-0">免费电子书</a>
</li>
<li class="nav-item g-mr-50">
  <a href="https://librarys.life/audiobooks.html" class="nav-link g-py-7 g-px-0">有声书</a>
</li>

</ul>
</div>
<!-- End Navigation -->

</div>
</nav>
</div>
</header>
<!-- End Header -->