{% if related_posts and related_posts.length %}
<!-- Related Posts -->
<div class="g-mb-50">
  <h4 class="h4 g-color-primary g-font-weight-600 mb-4">你可能想知道…</h4>
  <ul class="list-unstyled g-font-size-14 mb-0">
    {% for item in related_posts %}
    <li>
      <article class="media g-mb-35">
        <div class="media-body">
          <h5 class="g-color-black g-font-weight-600">{{ item.title }}</h5>
          <p class="g-color-gray-dark-v4">{{ item.excerpt }}</p>
          <a class="btn u-btn-outline-primary g-font-size-13 g-rounded-25" href="{{ item.url }}">阅读文章</a>
        </div>
      </article>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
