<!-- JS Global -->
<script src="/css261/html/assets/vendor/jquery/jquery.min.js"></script>
<script src="/css261/html/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/css261/html/assets/vendor/popper.js/popper.min.js"></script>
<script src="/css261/html/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Plugins -->
<script src="/css261/html/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="/css261/html/assets/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/css261/html/assets/vendor/masonry/dist/masonry.pkgd.min.js"></script>
<script src="/css261/html/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/css261/html/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>

<!-- JS Core -->
<script src="/css261/html/assets/js/hs.core.js"></script>
<script src="/css261/html/assets/js/components/hs.header.js"></script>
<script src="/css261/html/assets/js/helpers/hs.hamburgers.js"></script>
<script src="/css261/html/assets/js/components/hs.tabs.js"></script>
<script src="/css261/html/assets/js/components/hs.popup.js"></script>
<script src="/css261/html/assets/js/components/hs.go-to.js"></script>
<script src="/css261/html/assets/js/components/hs.cubeportfolio.js"></script>
<script src="/css261/html/assets/js/components/hs.sticky-block.js"></script>
<script src="/css261/html/assets/js/custom.js"></script>

<script>
$(document).on('ready', function () {
  $.HSCore.components.HSTabs.init('[role="tablist"]');
  $.HSCore.components.HSPopup.init('.js-fancybox');
  $.HSCore.components.HSGoTo.init('.js-go-to');
  setTimeout(function () {
    $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
  }, 300);
});

$(window).on('load', function () {
  $.HSCore.components.HSHeader.init($('#js-header'));
  $.HSCore.helpers.HSHamburgers.init('.hamburger');
  $('.js-mega-menu').HSMegaMenu({
    event: 'hover',
    pageContainer: $('.container'),
    breakpoint: 991
  });
  $('.masonry-grid').imagesLoaded().then(function () {
    $('.masonry-grid').masonry({
      columnWidth: '.masonry-grid-sizer',
      itemSelector: '.masonry-grid-item',
      percentPosition: true
    });
  });
});

$(window).on('resize', function () {
  setTimeout(function () {
    $.HSCore.components.HSTabs.init('[role="tablist"]');
  }, 200);
});
</script>
