<div class="g-mb-0 g-mt-50">
  <h4 class="g-color-primary g-font-weight-600 mb-4" style="margin-left: 0;">所有文章</h4>
  <ul class="list-unstyled g-font-size-14 mb-0" style="margin-left: 0;">
    {% macro renderMenu(items, paddingLeft) %}
      {% for item in items %}
        <li>
<a
  class="d-block u-link-v5 rounded 
    g-color-gray-dark-v4 g-color-primary--hover 
    nav-link-hover-underline
    g-py-8"
  href="{{ item.url }}"
  style="padding-left: {{ paddingLeft }}px;">
  {{ item.title }}
</a>

          {% if item.children and item.children.length %}
            <ul class="list-unstyled" style="padding-left: {{ paddingLeft + 15 }}px;">
              {{ renderMenu(item.children, paddingLeft + 15) }}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    {% endmacro %}
    {{ renderMenu(nav_articles, 0) }}
  </ul>
</div>
