<!-- tag.njk -->
{% if tags %}
<div class="g-mb-40 article-body tags">
  <h4 class="h4 g-color-primary g-font-weight-600 mb-4">你可能感兴趣…</h4>
  <ul class="u-list-inline mb-0">
    {% for tag in tags %}
    <li class="list-inline-item g-mb-10">
      <a class="u-tags-v1 g-color-gray-dark-v3 g-color-white--hover g-bg-gray-light-v5 g-bg-primary--hover g-font-size-14 g-rounded-50 g-py-4 g-px-15"
         href="/tags/{{ tag | slug }}/">
         {{ tag }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
