html, body {
  font-family:
    "Microsoft YaHei",
    "PingFang SC",
    "Noto Sans SC",
    "Helvetica Neue",
    Arial,
    sans-serif;

    <!-- 字距 -->
   letter-spacing: 0.05em;
}

/* ===== 有声书卡片整体 ===== */

.audiobook-card {
  background: #ffffff;
  border-radius: 5px;
  padding: 30px;  /* 卡片内部间距 */
  
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  
}

.audiobook-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.12);
}

/* 有声书卡片整张卡片可点击 */
.audiobook-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* ===== 有声书卡片去掉下划线 ===== */
.audiobook-link:hover {
  text-decoration: none;
}

/* ===== 有声书卡片封面固定比例 ===== */

.cover-wrapper {
  width: 100%;
  aspect-ratio: 425 / 250;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;   /* 防止被压缩 */
}

.cover-img {
  position: absolute;
  width: 100%;
  height: auto;     /* 关键 */
  top: 0;
  left: 0;
}

/* ===== 有声书卡片书名 ===== */

.book-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-top: 15px;
  margin-bottom: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== 有声书卡片作者 ===== */

.book-author {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ===== 有声书卡片两行截断简介 ===== */

.book-summary {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  min-height: calc(1.6em * 2);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

